<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <div class='row'>
        <%= render 'info', user: @user %>

        <div class='col'>
          <% if current_user != @user %>
            <% if (current_user.following? @user) && (@user.following? current_user)  %>
              <%= link_to 'Begin Chat', chat_path(@user.id), class:"btn btn-sm btn-info" %>
            <% end %>
          <% end %>
        </div>
      </div>

      <h2 class="mt-3">New book</h2>
      <%= render 'books/form', book: @book %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <%= render 'books/index',books: @books %>

      <%= form_with url: user_search_path(@user), method: :get, local: false do |f| %>
        <%= f.date_field :created_at, class: "date_search" %>
        <%= f.submit '検索', class: 'btn btn-primary'  %>
      <% end %>

      <div id="search_result">
        <% if @search_book.present? %>
          <%= render 'users/search', search_book: @search_book %>
        <% end %>
      </div>


      <h2>投稿数の前日比・前週比</h2>
      <table class="table table-bordered">
        <thead>
          <th>今日の投稿数</th>
          <th>前日の投稿数</th>
          <th>前日比</th>
        </thead>
        <tbody>
          <td><%= @today_books.count %></td>
          <td><%= @yesterday_books.count %></td>
          <td><%= @the_day_before %> %</td>
        </tbody>
      </table>
      <table class="table table-bordered">
        <thead>
          <th>今週の投稿数</th>
          <th>前週の投稿数</th>
          <th>前週比</th>
        </thead>
        <tbody>
          <td><%= @this_week_books.count %></td>
          <td><%= @last_week_books.count %></td>
          <td><%= @compared_to_last_week %> %</td>
        </tbody>
      </table>
      <h2>7日分の投稿数</h2>
      <table class="table table-bordered">
        <thead>
          <th>6日前</th>
          <th>5日前</th>
          <th>4日前</th>
          <th>3日前</th>
          <th>2日前</th>
          <th>1日前</th>
          <th>今日</th>
        </thead>
        <tbody>
          <td><%= current_user.books.created_days_ago(6).count %></td>
          <td><%= current_user.books.created_days_ago(5).count %></td>
          <td><%= current_user.books.created_days_ago(4).count %></td>
          <td><%= current_user.books.created_days_ago(3).count %></td>
          <td><%= current_user.books.created_days_ago(2).count %></td>
          <td><%= @yesterday_books.count %></td>
          <td><%= @today_books.count %></td>
        </tbody>
      </table>
      <canvas id="myLineChart"></canvas>
      <script>
        const ctx = document.getElementById("myLineChart");
        const myChart = new Chart(ctx, {
          /* グラフの種類 (bar、line、rader、pie、doughnut、polarArea、bubble などがある) */
          type: "line",
          data: {
            /* 各項目のラベル(上から時計回り) */
            labels: [
              "6日前",
              "5日前",
              "4日前",
              "3日前",
              "2日前",
              "1日前",
              "今日",
            ],
            /* データの設定 */
            datasets: [
              {
                /* グラフ全体のラベル */
                label: "投稿した本の数",
                /* グラフのデータ(縦軸) */
                data: [
                  <%= current_user.books.created_days_ago(6).count %>,
                  <%= current_user.books.created_days_ago(5).count %>,
                  <%= current_user.books.created_days_ago(4).count %>,
                  <%= current_user.books.created_days_ago(3).count %>,
                  <%= current_user.books.created_days_ago(2).count %>,
                  <%= current_user.books.created_days_ago(1).count %>,
                  <%= current_user.books.created_days_ago(0).count %>
                ],
                /* データライン*/
                borderColor: '#00f',
                lineTension: 0.5,
                fill: false,
              }
            ],
          },
          options: {
            plugins: {
              // グラフタイトル
              title: {
                display: true,
                text: '7日間の投稿数の比較',
                color: 'black',
                padding: {top: 5, bottom: 5},
                font: {
                  family: '"Arial", "Times New Roman"',
                  size: 12,
                },
              },
              // 凡例
              legend: {
                position: 'top',
                align: 'center',
                // 凡例ラベル
                labels: {
                  boxWidth: 20,
                  boxHeight: 8,
                },
                // 凡例タイトル
                title: {
                  display: false,
                  text: 'Legend',
                  // padding: {top: 20},
                },
              },
              // ツールチップ
              tooltip: {
                backgroundColor: '#933',
              },
            },
            scales: {
              y: {
                // 最小値・最大値
                min: 0,
                max: 6,
                // 軸タイトル
                title: {
                  display: false,
                  text: 'Scale Title',
                  color: 'blue',
                },
                // 目盛ラベル
                ticks: {
                  color: 'blue',
                  stepSize: 1,
                  showLabelBackdrop: true,
                  backdropColor: '#fff',
                  backdropPadding: { x: 4, y: 2 },
                  major: {
                    enabled: false,
                  },
                  align: 'end',
                  crossAlign: 'center',
                  sampleSize: 4,
                },
                grid: {
                  // 軸線
                  borderColor: '#efefef',
                  borderWidth: 1,
                  drawBorder: true,
                  // 目盛線＆グリッド線
                  color: '#ccc',
                  display: true,
                  // グリッド線
                  // borderDash: [3, 3],
                  borderDashOffset: 0,
                  // 目盛線
                  drawTicks: false,
                  tickColor: 'blue',
                  tickLength: 10,
                  tickWidth: 2,
                  // tickBorderDash: [2, 2],
                  tickBorderDashOffset: 0,
                },
              },
              x: {
                grid: {
                  borderColor: '#ccc',
                  borderWidth: 2,
                },
              },
            },
          },
        });
      </script>
    </div>
  </div>
</div>
